:root {
    --dark: #393e46;
    --darkred: #3d0000;
    --brick: #950101;
    --white: #F8F8FF;
    --notblack: #0b1215;
    --beige: #E6C9AD;

    --ff: "Poppins", sans-serif; 
    --ffheaders: "Inter", sans-serif;
}


h1,h2 {
    font-family: var(--ff);
    font-size: 2em;
}

p {
    font-family: var(--ffheaders);
    font-size: 2em;
}

a {
    color: var(--white);
    text-decoration: none;
}

body {
    background-color: var(--white);
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--notblack);
    color: var(--white);
    min-height: 5vh;
    min-height: 5svh;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-right: 10px;
}

@media (max-width: 1100px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.hero-image {
    display: flex;
    background-image: url(images/header-background.png);
    background-size: cover;
    min-height: 90vh;
    min-height: 90svh;

}

.logo {
    padding: 10px;
    margin: auto;
    max-width: 70%;
    filter: drop-shadow(10px 5px 8px grey);
}

@media (max-width: 1100px) {
    .logo {
        max-width: 100%;
    }
}

.container-main {
    display: flex;
    max-width: 70%;
    margin: auto;
    padding: 50px 0;
    justify-content: center;
}

@media (max-width: 1100px) {
    .container-main {
        max-width: 100%;
        padding: 20px 20px 0 20px;
    }
}

.container-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

@media (max-width: 1100px) {
    .container-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    section {
        display: flex;
        flex-direction: column;
    }
}

section {
    background: linear-gradient(var(--beige), var(--white), var(--beige));
    box-shadow: var(--notblack) 5px 5px 4px;
}

section h2, section p {
    padding: 10px;
}

section img {
    padding: 20px 0;
    aspect-ratio: 1;
}

@media (max-width: 1100px) {
    section img {
        max-width: 100%;
        margin: auto;

    }
}

footer {
    min-height: 100px;
    background-color: var(--notblack);
    color: var(--white);
}

.galerie-nadpis {
    text-align: center;
}

.galerie {
    min-height: 90vh;
    min-height: 90svh;
    padding-top: 40px;
    text-align: center;
}

.galerie-container {
    display: flex;
    text-align: center;
    min-height: 90vh;
    min-height: 90svh;
}

.galerie-item {

}

.galerie-item img {
    filter: grayscale(100%);
}

.galerie-item img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}

.galerie a {
    font-size: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
      color: var(--white);
      background-color: var(--dark);
    }

    section {
        color: var(--notblack);
    }
  }
